body {
  color: black;
  font-family: Helvetica, Verdana, sans-serif;
  background-color: lightgrey;
}

main {
  width: min(65ch, 100% - 4rem);
  margin-inline: auto;
}

p {
  font-size: 1.25rem;
  color: darkorange;
}

li {
  font-size: 1rem;
}

ol li {
  color: red;
  font-weight: 600;
}

img {
  width: 700px;
  max-width: 100%;
  height: auto;
}