* {
  font-family: Helvetica, Verdana, sans-serif;
  background-color: lightgrey;
  color: blue;
}

p {
  font-size: 20px;
  color: darkorange;
}

li {
  font-size: 16px;
}

ol li {
  font-weight: 600;
  color: red;
}

img {
  width: 700px;
  height: auto;
}